@media only screen and (max-width: 600px) {
	html {
		min-height: 1600px;
		min-width:1050px;
	}
  }
body {
	margin: 0;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
td a strong {
  color: black;
}
#slideshow {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	height: 600px;
}	
#slideshow > div {
	position: absolute;
    z-index:-1;
}
.bigger-img {
	margin-top: 60px;
	width: 900px !important;
}
#texto {
	width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
#tabla {
	margin: auto;
}
.footer {
	width: 900px;
	height: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #686868;
	margin: 0 auto;
}
.home-img{
	margin: auto;
	display: block;
}
.home-img img {
	width: 700px;
}
.one {
	width: 900px;
	height: 100px;
	margin: 0 auto;
	padding-top: 20px;
}
#nav {
	width: 500px;
	height: 45px;
	margin-left: 400px;
	padding-top: 17.5px;
}
.logo {
	width: 200px;
	height: 80px;
	background-image:url("logo.png");
	background-repeat: no-repeat;
	background-position:center;
	float: left;
	padding-left: 50px;
}
#line {
	background-color: black;
	width: 900px;
	height: 1px;
	margin: 0 auto;
}
.visibleNearby {
	  min-width: 900px;
	  min-height: 500px;
}
.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 800px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.gallery-image {
	cursor: pointer;
	width: 150px;
	height: 150px;
	margin: 2px;
	overflow: hidden;
	box-shadow: 0px 0px 34px -5px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 34px -5px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 34px -5px rgba(0,0,0,0);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-kthtml-transition: all 0.4s;
	transition: all 0.4s;
}

.gallery-image > img {
	height: 100%;
}

.gallery-image:hover {
	box-shadow: 0px 0px 34px -5px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 34px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 34px -5px rgba(0,0,0,1);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-kthtml-transition: all 0.4s;
	transition: all 0.4s;
}

.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.3);
	z-index: 100;
}

.modal-background:hover { 
	cursor: pointer;
}


.modal {
	cursor: default;
	margin: 10% auto;
	width: 600px;
	height: auto;
	background-color: white;
	opacity: 1;
	z-index: 200;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	overflow: scroll;
}

.modal > p {
	margin-bottom: 0px;
}

.modal > span {
	margin-top: 0px;
	color: #bbb;
}

.modal-img {
	width: 100%;
}

.display-block {
	display: block !important;
}

.expo {
	width: 800px;
	display: block;
	margin: auto;
	margin-top: 30px;
}

.expo > img {
	height: 400px;
}
